#toplevel_page_primekit_home .wp-menu-image img {
  width: 20px;
  height: 20px;
}

/* admin global */
.primekit-available-widget-wrap h1 {
  margin-bottom: 30px;
  color: #2c45eb;
  font-weight: 600;
}

.primekit-banner-area {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 30px;
  height: 400px;
  gap: 20px;
}
.primekit-banner-area h1 {
  color: #fff;
  font-size: 3rem;
}
.primekit-banner-area .primekit-banner-version {
  margin: 0;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}
.primekit-banner-area .primekit-resource-buttons {
  display: flex;
  gap: 10px;
}
.primekit-banner-area .primekit-resource-buttons a {
  display: flex;
  padding: 8px 20px;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #4476ff;
  align-content: center;
  justify-content: center;
  font-size: 16px;
}

.primekit-banner-area .primekit-resource-buttons a:hover {
  background-color: #134cf3;
  color: #fff;
  border-color: #134cf3;
}

.primekit-available-widgets-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.primekit-widget-icon svg {
  width: 35px;
  height: auto;
}
.primekit-widget-icon {
  flex-basis: 12%;
}
.primekit-available-single-widget {
  display: flex;
  gap: 11px;
  align-items: center;
  background-color: #f3f3ff;
  border-radius: 5px;
  padding: 20px 30px;
  border: 1px solid #dedee7;
  position: relative;
}
.primekit-widget-title h3 {
    margin: 0;
    outline: none;
}
.primekit-widget-title h3 a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}
.primekit-widget-title h3 a:focus, .primekit-widget-title h3 a:active, .primekit-widget-title h3 a:visited, .primekit-widget-title h3 a:focus-visible, .primekit-widget-icon a:focus, .primekit-widget-icon a:active, .primekit-widget-icon a:visited, .primekit-widget-icon a:focus-visible {
  outline: none;
  box-shadow: none;
}
.primekit-widget-title h3 a:hover {
  color: #0049e7;
}
.primekit-available-single-widget-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.primekit-availability-text {
  background: linear-gradient(90deg, #0049e7 0%, #c835f8 100%);
  color: #fff;
  padding: 4px 10px;
  font-size: 11px;
  border-radius: 5px 0 13px 0;
  line-height: normal;
  display: flex;
  align-items: center;
}

/* Switch container */
.primekit-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  margin-top: 6px;
  margin-right: 6px;
}

.primekit-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.primekit-available-single-switch {
  position: absolute;
  right: 0;
}
.primekit-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 5px;
  background: #8d8d8d;
}

.primekit-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.primekit-switch input:checked + .primekit-slider {
  background: #259eb1;
}

.primekit-switch input:checked + .primekit-slider:before {
  transform: translateX(26px);
}
#freePro .primekit-switch {
  display: none;
}
.primekit-switch-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  transition: opacity 0.4s;
}

.primekit-switch-on {
  left: 10px;
}
.primekit-switch-off {
  right: 6px;
}
.primekit-full-width-input {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
/* Responsive Adjustments  */

@media (min-width: 2201px) {
  .primekit-available-widgets-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1601px) and (max-width: 2200px) {
    .primekit-available-widgets-wrapper {
        grid-template-columns: repeat(4, 1fr);
      }
}

@media screen and (max-width: 1600px) {
    .primekit-available-widgets-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
}

@media (max-width: 1200px) {
    .primekit-available-widgets-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media (max-width: 768px) {
    .primekit-available-widgets-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
}
@media screen and (max-width: 600px) {
    .primekit-available-widgets-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
}

@media (max-width: 480px) {
    .primekit-available-widgets-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
}
